{% extends "base_generic.html" %}

{% block title %}
    <title>The Library</title>
{% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p>Welcome to Local Library.In this web app, you will find the inforamtion about some
        famous books and other related inforamtion.
    </p>
    <h5>The library has the following record counts</h5>
    <ul>
        <li><strong>Books:</strong>{{num_books}}</li>
        <li><strong>Copies:</strong>{{num_instances}}</li>
        <li><strong>Cpoies Available:</strong>{{num_instances_available}}</li>
        <li><strong>Authors:</strong>{{num_authors}}</li>
        <li><strong>Books with title the:</strong>{{num_bookswith_the}}</li>
        <li><strong>Fiction genre books:</strong>{{num_fiction_genre}}</li>
    </ul>
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}